@page "/example-login-form-with-actions"

@inject IJSRuntime JsRuntime

<h1 class="main-text">Login Form with Default Actions</h1>

@{
    var options = new CrudeOptions(CultureInfo.CurrentCulture, "/cookie/set", "post");
}

<div class="example-simple-login-form">
    <CrudeTree ViewModel="new LoginViewModel()" Options="options" />
</div>

<div class="content">
    <h2 class="main-text">Show me the code</h2>

    <p>
        We change the CSS so we have a single column layout first.
    </p>

    <CodeBlock Value="@Css" />

    <p>
        Now we define our view model.
    </p>

    <CodeBlock Value="@Csharp" />

    <p>
        And finally we add a blazor component.
    </p>

    <CodeBlock Value="@Html" />
</div>


@code {
    private const string Html = @"
@{
    var options = new CrudeOptions(CultureInfo.CurrentCulture, ""/cookie/set"", ""post"");
}

<div class=""example-simple-login-form"" >
    <CrudeTree ViewModel=""new LoginViewModel()"" Options=""options"" />
</div>";

    private const string Css = @"
.example-simple-login-form {
    --grid-setup: auto / auto;
    --grid-full-span: 1 / span 1
}";

    private const string Csharp = @"
public class LoginViewModel
{
    [Required]
    [EmailAddress]
    public string Email { get; set; }

    [CrudePassword]
    [Required]
    [Display(Name = ""Password"")]
    public string Password { get; set; }

    [CrudePassword]
    [Required]
    [Display(Name = ""Remember Me"")]
    public bool RememberMe { get; set; }

    [CrudeOnSubmit(""Login"")]
    private void OnLogin(EditContext context)
    {
        Console.WriteLine($""User typed in {Email}"");
    }
}";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("Highlight");
    }
}
