@page "/"

<h1 class="main-text">A lightweight <b>Blazor</b> component to auto generate <b>CRUD</b> forms and list views.</h1>

<div class="content">
    <p>
        <b>CRUD.e</b> is a simple NuGet package you can drop into your existing Blazor projects and it will generate all the boilerplate CRUD code for you.
    </p>

    <p>
        The library is designed to use no JavaScript and very little CSS (mainly vanilla grid layout). The main goal is to produce a clean HTML structure with
        no unnecessary markup or code.
    </p>

    <p class="center-buttons">
        <NavLink href="documentation" class="pure-button-primary pure-button">Documentation</NavLink>
        <a href="https://github.com/GowenGit/crude" class="pure-button">View on GitHub</a>
    </p>
</div>